<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>页面标题</title>
  <link rel="stylesheet" type="text/css" href="../static/css/test.css">
  <link rel="stylesheet" type="text/css" href="../static/css/test2.css">
  <style>
    /* css代码 */
  </style>
  <script>
    // JavaScript代码



  </script>
</head>

<body>
  <div class="container">
    <h2 class="section-title"><span>产品优势</span></h2>
    <div class="card-list gaia-row">
      <div class="gaia-col-2 gaia-col-sm-1">
        <div class="gaia-card developer-resource-card">
          <div class="developer-resource-card__head"><img width="30" height="30"
              src="https://aixfyun-cn-bj.xfyun.cn/aixfyun/1597327560000/先进的语音技术.png">
            <div class="title">准确率高，高效稳定</div>
          </div>
          <div class="developer-resource-card__body">
            <div class="desc">行业先进的语音识别技术，通用语音识别率98%（注：安徽电子产品监督检验所检测，报告编号151209010027）</div>
          </div>
          <div class="developer-resource-card__footer"></div>
        </div>
      </div>
      <div class="gaia-col-2 gaia-col-sm-1">
        <div class="gaia-card developer-resource-card">
          <div class="developer-resource-card__head"><img width="30" height="30"
              src="https://aixfyun-cn-bj.xfyun.cn/aixfyun/1597327569000/自然清晰的语音体验.png">
            <div class="title">自定义个性热词、质检关键词</div>
          </div>
          <div class="developer-resource-card__body">
            <div class="desc">无需算法开发，直接上传热词列表即可完成热词配置；质检关键词支持配置默认词库和上传自定义词库，满足您的多样化需求</div>
          </div>
          <div class="developer-resource-card__footer"></div>
        </div>
      </div>
      <div class="gaia-col-2 gaia-col-sm-1">
        <div class="gaia-card developer-resource-card">
          <div class="developer-resource-card__head"><img width="30" height="30"
              src="https://aixfyun-cn-bj.xfyun.cn/aixfyun/1597327575000/精巧的语音服务.png">
            <div class="title">格式转化，标点预测</div>
          </div>
          <div class="developer-resource-card__body">
            <div class="desc">对数字、日期、时间等返回格式化文本，根据对话语境，智能断句并匹配标点
            </div>
          </div>
          <div class="developer-resource-card__footer"></div>
        </div>
      </div>
      <div class="gaia-col-2 gaia-col-sm-1">
        <div class="gaia-card developer-resource-card">
          <div class="developer-resource-card__head"><img width="30" height="30"
              src="https://aixfyun-cn-bj.xfyun.cn/aixfyun/1597384649000/复杂场景支持.png">
            <div class="title">方言语种，高效识别</div>
          </div>
          <div class="developer-resource-card__body">
            <div class="desc">支持除中英文外的多方言语种识别，适应复杂的语言环境</div>
          </div>
          <div class="developer-resource-card__footer"></div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>