<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>页面标题</title>
  <link rel="stylesheet" type="text/css" href="../static/css/test.css">
  <link rel="stylesheet" type="text/css" href="../static/css/test2.css">
  <style>
    /* css代码 */
  </style>
  <script>
    // JavaScript代码



  </script>
</head>

<body>
  <div class="container">
    <h2 class="section-title"><span>应用场景</span></h2>
    <div class="card-list gaia-row">
      <div class="gaia-col-5 gaia-col-sm-2"><a href="" target="_blank" rel="noreferrer"
          style="text-decoration:none;cursor:default;pointer-events:none" i_l_d_20180504="t">
          <div class="gaia-card advantage-card style2">
            <div class="advantage-card__head"><img
                src="https://aixfyun-cn-bj.xfyun.cn/aixfyun/1619609022000/1111111111111.png">
              <div class="title">电话销售&amp;客服</div>
            </div>
            <div class="advantage-card__body">将坐席大量录音文件转成文字，帮助电话质检和信息同步，也为数据挖掘提供原料基础</div>
          </div>
        </a></div>
      <div class="gaia-col-5 gaia-col-sm-2"><a href="" target="_blank" rel="noreferrer"
          style="text-decoration:none;cursor:default;pointer-events:none" i_l_d_20180504="t">
          <div class="gaia-card advantage-card style2">
            <div class="advantage-card__head"><img
                src="https://aixfyun-cn-bj.xfyun.cn/aixfyun/1619597922000/0000002.png">
              <div class="title">会议&amp;访谈记录</div>
            </div>
            <div class="advantage-card__body">将会议和访谈的音频转换成文字存稿，让后期的信息检索和整理更方便快捷</div>
          </div>
        </a></div>
      <div class="gaia-col-5 gaia-col-sm-2"><a href="" target="_blank" rel="noreferrer"
          style="text-decoration:none;cursor:default;pointer-events:none" i_l_d_20180504="t">
          <div class="gaia-card advantage-card style2">
            <div class="advantage-card__head"><img src="https://aixfyun-cn-bj.xfyun.cn/aixfyun/1619609041000/字幕.png">
              <div class="title">字幕生成</div>
            </div>
            <div class="advantage-card__body">将视频中的音频进行语音识别并标记时间戳，生成对应字幕，提升配置字幕效率</div>
          </div>
        </a></div>
      <div class="gaia-col-5 gaia-col-sm-2"><a href="" target="_blank" rel="noreferrer"
          style="text-decoration:none;cursor:default;pointer-events:none" i_l_d_20180504="t">
          <div class="gaia-card advantage-card style2">
            <div class="advantage-card__head"><img
                src="https://aixfyun-cn-bj.xfyun.cn/aixfyun/1619597935000/0000004.png">
              <div class="title">语音质检</div>
            </div>
            <div class="advantage-card__body">可以从转写出的文字结果中搜索匹配相关词类，对黄暴/涉政内容进行高效鉴别</div>
          </div>
        </a></div>
      <div class="gaia-col-5 gaia-col-sm-2"><a href="" target="_blank" rel="noreferrer"
          style="text-decoration:none;cursor:default;pointer-events:none" i_l_d_20180504="t">
          <div class="gaia-card advantage-card style2">
            <div class="advantage-card__head"><img
                src="https://aixfyun-cn-bj.xfyun.cn/aixfyun/1619597941000/0000005.png">
              <div class="title">课堂录音分析</div>
            </div>
            <div class="advantage-card__body">批量识别课堂录音文件，返回文本内容，快速分析教学内容，提升教学质量</div>
          </div>
        </a></div>
    </div>
  </div>


</body>

</html>