<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>页面标题</title>
  <link rel="stylesheet" type="text/css" href="../static/css/test.css">
  <link rel="stylesheet" type="text/css" href="../static/css/test2.css">
  <link rel="stylesheet" type="text/css" href="../static/css/test3.css">
  <style>
    /* css代码 */
    .section-scene-tab .scene-tab {
      background-color: #ffffff;
      border: 1px solid #e6e8f4
    }
  </style>
  <script>


  </script>
</head>

<body>
  <section id="anchor695585" class="section-advantage">
    <div class="container">
      <h2 class="section-title"><span>功能优势</span></h2>
      <div class="card-list gaia-row">
        <div class="gaia-col-3 gaia-col-sm-1"><a href="" target="_blank" rel="noreferrer"
            style="text-decoration:none;cursor:default;pointer-events:none" i_l_d_20180504="t">
            <div class="gaia-card advantage-card">
              <div class="advantage-card__head"><img
                  src="https://aixfyun-cn-bj.xfyun.cn/aixfyun/1597327560000/先进的语音技术.png">
                <div class="title">真实自然，专业实力</div>
              </div>
              <div class="advantage-card__body">专注语音20年，技术实力雄厚；人声自然饱满，逼真度高，富有表现力，人机交互更具真实感
              </div>
            </div>
          </a></div>
        <div class="gaia-col-3 gaia-col-sm-1"><a href="" target="_blank" rel="noreferrer"
            style="text-decoration:none;cursor:default;pointer-events:none" i_l_d_20180504="t">
            <div class="gaia-card advantage-card">
              <div class="advantage-card__head"><img
                  src="https://aixfyun-cn-bj.xfyun.cn/aixfyun/1597327569000/自然清晰的语音体验.png">
                <div class="title">多方言，多语种</div>
              </div>
              <div class="advantage-card__body">支持37个语种，11种方言，2种民族语言；支持中英混合自然合成
              </div>
            </div>
          </a></div>
        <div class="gaia-col-3 gaia-col-sm-1"><a href="" target="_blank" rel="noreferrer"
            style="text-decoration:none;cursor:default;pointer-events:none" i_l_d_20180504="t">
            <div class="gaia-card advantage-card">
              <div class="advantage-card__head"><img
                  src="https://aixfyun-cn-bj.xfyun.cn/aixfyun/1597327575000/精巧的语音服务.png">
                <div class="title">节省空间，更省流量</div>
              </div>
              <div class="advantage-card__body">安装包尺寸低至1M，平均每字流量小于100B</div>
            </div>
          </a></div>
        <div class="gaia-col-3 gaia-col-sm-1"><a href="" target="_blank" rel="noreferrer"
            style="text-decoration:none;cursor:default;pointer-events:none" i_l_d_20180504="t">
            <div class="gaia-card advantage-card">
              <div class="advantage-card__head"><img
                  src="https://aixfyun-cn-bj.xfyun.cn/aixfyun/1597384649000/复杂场景支持.png">
                <div class="title">多场景，多风格</div>
              </div>
              <div class="advantage-card__body">6大场景，100+发音人，男女老少，海量风格随心选</div>
            </div>
          </a></div>
        <div class="gaia-col-3 gaia-col-sm-1"><a href="" target="_blank" rel="noreferrer"
            style="text-decoration:none;cursor:default;pointer-events:none" i_l_d_20180504="t">
            <div class="gaia-card advantage-card">
              <div class="advantage-card__head"><img
                  src="https://aixfyun-cn-bj.xfyun.cn/aixfyun/1597385060000/矢量智能对象.png">
                <div class="title">动态调参，自由配置</div>
              </div>
              <div class="advantage-card__body">随心调节语调/语速/音量等参数，满足复杂场景需求</div>
            </div>
          </a></div>
        <div class="gaia-col-3 gaia-col-sm-1"><a href="" target="_blank"
            rel="noreferrer" style="text-decoration:none;cursor:default;pointer-events:none" i_l_d_20180504="t">
            <div class="gaia-card advantage-card">
              <div class="advantage-card__head"><img
                  src="https://aixfyun-cn-bj.xfyun.cn/aixfyun/1597327564000/专属的语音个性定制.png">
                <div class="title">定制音库，专属声音</div>
              </div>
              <div class="advantage-card__body">15分钟简短录音，深度定制，个性化定制声线，打造品牌标识</div>
            </div>
          </a></div>
      </div>
    </div>
  </section>


</body>

</html>